.page-enter-active, .page-leave-active {
  transition: opacity .5s;
}
.page-enter, .page-leave-to {
  opacity: 0;
}

.image {
  margin-bottom: 1rem;
}

.button + .button,
.button + span {
  margin-left: 0.25rem;
}

.image{
  background: lightgray;
}

.croppie-container .cr-viewport {
  border: none !important;
  background-size: contain;
  background-repeat: no-repeat; 
}