/* TRANSITIONS  */
.page-enter-active, .page-leave-active {
  transition: opacity .5s;
}
.page-enter, .page-leave-to {
  opacity: 0;
}

/* HERO */

.hero.is-share .tabs ul {
    border-bottom: 1px solid #dbdbdb;
}

@media screen and (max-width: 768px) {
  .hero-body {
    align-items: flex-start !important;
  }
}

/* COLUMNS  */

.columns {
  justify-content: center;
}

.column {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
}

.column {
  max-width: 20rem;
  margin: 0 auto;
}

@media screen and (min-width: 769px) {

  .column {
    max-width: 45vh;
    min-width: 20rem;
    margin: 0 1rem;
  }
}

/* BUTTONS */

.actions {
  margin-top: 2rem;
}

.button + .button.is-link {
  margin-top: 0.25rem;
}

button.button {
  display: inline-block;
}

/* IMAGE */

.image {
  background: lightgray;
}

/* CROPPIE */

.croppie-container {
  position: relative;
}

.croppie-container .cr-slider-wrap {
  position: absolute;
  width: auto;
  display: none;
}

.croppie-container .cr-slider-wrap .cr-slider {
  max-width: 75%;
}

@media screen and (min-width: 769px) {
  .croppie-container .cr-slider-wrap {
    display: block;
  }
}

.croppie-container .cr-viewport {
  border: none !important;
  background-size: contain;
  background-repeat: no-repeat; 
}